@charset "utf-8";
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
.wrapper {
  display: flex;
  align-items: center;
  /*width: 1170px;*/
  margin: 0 auto;
  flex-direction: column;
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 16px;
}
a, a:active, a:visited, a:focus {
	text-decoration: none;
	outline: none;
}
p {
  margin: 0;
  padding: 0;
}
nav {
  width: 1170px;
  margin-top: 13px;
  text-align: right;
  font-family: 'Roboto-Regular', Arial, sans-serif;
  color: #000000;
}
.main-nav__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; 
  text-align: right;
  justify-content: flex-end;

}

.main-nav__item {
  padding: 4px;
  font-size: 13px;
  line-height: 31px;
  color: #515151;
  text-decoration: none;
}
.main-nav__item a {
 /* display: block;*/

  color: #515151;
  border-bottom: 1px dotted #ff0000;

}
.main-nav__item a[href]:hover {
  color: #ffffff;
  background-color: #faa61a;
}



header {
  display: flex;
  width: 1170px;
  padding: 20px 0 40px;
  line-height: 28px;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
}
.header__telephone {
  width: 38%;
  padding: 0 9% 0 9%;
  text-align: right;
}
.size30 {
  font-size: 30px;
}
.size16 {
  position: absolute;
  padding-left: 20px;
  font-size: 16px;
}
#select-number {

  width: 220px;
  padding-left: 45px;
  border: none;
  height: 22px;    /* Меньше, чем рисованная "кнопочка" на ширину нужного border'а */
  font-size: 21px;
  line-height: 22px;
  position: relative;    /* Это нужно, чтобы работал z-index */
  background: none;    /* Через прозрачный фон будет видно кнопку */
  z-index: 100;
}

.select-number {
  width: 200px;    /* На 20px меньше, чем у select'а. Примерно такова ширина стандартной кнопки */
  overflow: hidden;    /* Кнопка будет находиться за пределами "обертки" */
  display: block;
  position: relative;    /* Чтобы элементы с position:absolute позиционировались по "обертке" */
  text-align: right;
  margin-left: auto;
}

.select-button {
  height: 22px;    /* Размеры подготовленной картинки */
  width: 15px;
  position: absolute;    /* Размещаем объект по правому краю */
  top: 0;
  bottom: 0;
  z-index: 50;    /* И спускаем его на нижний слой - чтобы ссылка */
      /* не перехватывала событие щелчка от select'а */
  text-align: center;
}
.select-button-number {
  background: url('../img/select-down.png') center center no-repeat;
  left: 0;
}
.btn-order {
  display: inline-block;
  color: #99cc00;
  border-bottom: 1px dotted #ff0000;
}
.header__metro {
  width: 9%;
  padding: 1%;
  text-align: right;
}
.header__adress {
  width: 33%;
  text-align: right;
  font-size: 15px;
}
.header__adress-map {
  color: #99cc00;
  border-bottom: 1px dotted #ff0000;
}
.header__adress-time {
  margin-top: 15px;
}
.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 13px;
  line-height: 13px;
}
.icon-globe {
  font-size: 20px;
}
#select-language {
  width: 110px;
  border: none;
  height: 22px;    /* Меньше, чем рисованная "кнопочка" на ширину нужного border'а */
  line-height: 22px;
  position: relative;    /* Это нужно, чтобы работал z-index */
  background: none;    /* Через прозрачный фон будет видно кнопку */
  z-index: 100;
}
.select-language {
  width: 90px;    /* На 20px меньше, чем у select'а. Примерно такова ширина стандартной кнопки */
  overflow: hidden;    /* Кнопка будет находиться за пределами "обертки" */
  display: inline-block;
  position: relative;    /* Чтобы элементы с position:absolute позиционировались по "обертке" */

}
.select-button-language {
  background: url('../img/select-down-small.png') center center no-repeat;
  right: 0;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  display: block;
  width: 165px;
  padding: 7px 0;
  border: 1px solid #515151;
  text-align: center;
}
.header__buttons__question {
  margin: 0 30px 0 15px;
}
.header__buttons__order {
  color: #ffffff;
  background-color: #e2509d;
  border: 1px solid #e2509d;
}

/*main-menu*/
.main-menu {
  width: 100%;
  font-family: 'Roboto-Regular', Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #f4f3f3;
}

.main-menu__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  list-style: none; 
  justify-content: center;
}
.main-menu__item {
  padding: 0 15px;
  font-size: 13px;
  line-height: 31px;
  color: #515151;
  text-decoration: none;
  margin: 0 auto;
}
.main-menu__item a {
  color: #000000;
}
.main-menu__item a[href]:hover {
  color: #ffffff;
  background-color: #faa61a;
}
/*slider*/

.slider {
  display: flex;
  width: 100%;
  background: url("../img/bg-slider.jpg") no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  margin-bottom: 58px;
  justify-content: center;
}
.slider__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
}
.planmeca-top {
  min-height: 25px;
  width: 100%;
  background-image: url("../img/planmeca-top-line.png");
  background-size: cover;
}
.slider__foto {
  width: 60%;
}
.slider__description {
  width: 40%;
}
h1 {
  margin: 5px 0 14px 0;
  font-family: 'Raleway-Bold', Arial, sans-serif;
  color: #e6007e;
  font-size: 45px;
}
.slider__name {
  font-family: 'Raleway-Regular', Arial, sans-serif;
  color: #527da8;
  font-size: 32px;
}
.slider__logo {
  position: relative;
  margin: 18px 0;
  font-family: 'Raleway-ExtraBold', Arial, sans-serif;
  color: #e6007e;
  font-size: 68px;
  background-color: rgba(255, 255, 255, 0.7);
}
.part-color {
  color: #333333;
}
.square{
  position: absolute;
  top: 0;
  left: -98px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 98px;
  height: 78px;
}
.slider__methodologies {
  padding-bottom: 30px;
  font-family: 'Rpboto-Regular', Arial, sans-serif;
  color: #e6007e;
  font-size: 18px;
  line-height: 31px;
}
.slider__methodologies-part {
  font-family: 'Rpboto-Bold', Arial, sans-serif;
}
/*expert*/
.expert {
  width: 1170px;
  padding: 58px 0;
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  color:  #515151;
  font-size: 16px;
  line-height: 31px;
  border-top: 1px dashed #e6007e;
  border-bottom: 1px dashed #e6007e;
}

.expert__h2 {
  margin: 0 0 47px 0;
  text-align: center;
  color: #e6007e;
}
.expert__p {
  margin-bottom: 54px;
}
/*specialization*/
.tabs {
  padding-top: 58px;
  width: 1170px;
}
.tabs__h2 {
  margin: 0 0 62px 0;
  text-align: center;
  color: #e6007e;
}
.tabs__menu__items {
  display: flex;
  list-style: none; 
  text-align: right;
  color: #ffffff;
  padding: 0 20px;
  margin: 0;
  line-height: 22px;
}
.tabs__specialization__menu__item a {
  color: #ffffff;
  background-color: #347aa5;
  padding: 10px 15px 0 15px;
  cursor: pointer;
  border-top-right-radius: 30px;

}
.tabs__service__menu__item a {
  color: #ffffff;
  background-color: #7fc242;
  padding: 10px 15px 0 15px;
  cursor: pointer;
  border-top-right-radius: 30px;
}
.tabs__about-us__menu__item a {
  color: #000000;
  background-color: #f6f6f7;
  padding: 10px 15px 0 15px;
  cursor: pointer;
  border-top-right-radius: 30px;
}
.tabs__proect__menu__item {
  margin-left: auto;

}
.tabs__proect__menu__item a {
  color: #ffffff;
  background-color: #e6007e;
  padding: 10px 15px 0 15px;
  cursor: pointer;
  border-top-left-radius: 30px;

}


#tab2, #tab3, #tab4 {
  position: fixed; 
}
/*
.menu1 > a,
.menu1 #tab2:target ~ a:nth-of-type(1),
.menu1 #tab3:target ~ a:nth-of-type(1),
.menu1 #tab4:target ~ a:nth-of-type(1),
.menu1 > div { 
  padding: 5px; border: 1px solid #aaa; 
}

.menu1 > a { 
  line-height: 28px; 
  background: #fff; 
  text-decoration: none; 
}*/

#tab2,
#tab3,
#tab4,
.menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1),
.menu1 #tab4:target ~ div:nth-of-type(1)  {
  display: none; 
}

.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3),
.menu1 #tab4:target ~ div:nth-of-type(4)  { 
  display: block; 
}
/*
.menu1 > a:nth-of-type(1),
.menu1 #tab2:target ~ a:nth-of-type(2),
.menu1 #tab3:target ~ a:nth-of-type(3),
.menu1 #tab4:target ~ a:nth-of-type(4) { 
  border-bottom: 2px solid #fff; 
}
*/





.tabs__specialization {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid #347aa5;
  border-top-width: 26px;
  padding: 18px 10px;
  justify-content: center;

}
.tabs__specialization__block {
  display: flex;
  flex-wrap: wrap;
  width: 47%;
  border: 1px solid #347aa5;
 
  margin: 15px 15px 15px 10px;
}
.nth2n {
  margin: 15px 10px 15px 15px;
}
.tabs__specialization__wrapper {
  width: 59%;
}
h3 {
  margin-left: 24px;
  margin-bottom: 10px;
  font-family: 'Raleway-Bold', Arial, sans-serif;
  font-size: 26px;
  color: #e6007e;
  text-decoration: underline;
}
.tabs__specialization__item {
  list-style-type: none; /*Убираем маркеры у списка*/
}
.tabs__specialization__item:before {
  content: "\25b6 "; /*Добавляем в качестве маркера символы*/
  font-size: 18px;
}
.tabs__specialization__items {
  padding-left: 47px;
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 18px;
  color: #515151;
}
.tabs__specialization__items a {
  padding-left: 5px;
  color: #515151;
  text-decoration: underline;
}
.btn-more {
  margin-bottom: 18px;
}


.btn-more a {
  margin-left: 24px;
  padding: 5px 10px;
  font-family: 'Roboto-Regular', Arial, sans-serif;
  font-size: 18px;
  color: #515151;
  border: 1px solid #e6007e;
  text-decoration: underline;
}
.tabs__specialization__block img {
  margin-left: auto;
}
.tabs__trangle-down {

  width: 0;
	height: 0;
	border-left: 585px solid transparent;
	border-right: 585px solid transparent;
  border-top: 4px solid #347aa5;
  position: absolute;
  bottom: -5px;

}
.video__h2 {
  margin: 0;
  margin-top: 60px;
  padding: 46px 0 55px 0;
  font-family: 'Raleway-ExtraBold', Arial, sans-serif;
  font-size: 36px;
  text-align: center;
  color: #e6007e;
  border-top: 1px dashed #e6007e;
}
/*video*/
.video {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  justify-content: center;
  background-color: #f4f3f3;
  padding-top: 100px;
  margin-bottom: 56px;
}

.video__max {
  width: 49%;

}
.video__min {
  width: 47%;
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 18px;
}
.video__items {

  display: flex;
  flex-direction: column;

  padding:  0 3%;
  margin: 0;
  list-style: none; 
}
.video__item-min {
  display: flex;
  align-items: center;
}
.video__item-min img {
  flex-shrink: 2;
  width: 166px;
  height: 103px;
}
.video__item-min:nth-child(2) {
  margin: 15px 0;
}
.video__item-min p {
  min-height: 74px; 
  padding: 15px;
  margin-left: 15px;
  background-color: #e6e8ed;
}
.view-more {
  
  margin-left: 54%;
  margin-top: 36px;
  margin-bottom: 35px;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 18px;

}
.view-more:before {
  content: "\21fe  ";
  font-size: 25px;
}
.about {
  display: flex;
  width: 1170px;
  line-height: 31px;
  padding-bottom: 58px;
  border-bottom: 1px dotted #e6007e;
}
.about__short {
  width: 50%;
}
.about__h2 {
  margin: 0;
  padding: 46px 0 40px 0;
  font-family: 'Raleway-ExtraBold', Arial, sans-serif;
  font-size: 36px;
  text-align: center;
  color: #e6007e;
}
.about__short__we {
  margin: 15px 0 57px 0;
}
.about__short p {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 16px;
}
.about__short__info {
  margin: 43px 0;
}
.about__short__item {
  list-style-type: none; /*Убираем маркеры у списка*/
  padding-left: 50%;
}
.about__short__item:before {
  content: "\00279B  "; /*Добавляем в качестве маркера символы*/
  font-size: 25px;
}
.about__short__item a {
  border-bottom: 1px dotted #ff0000;
}
.about__employees {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.about__employees__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none; 
  padding: 0;
  margin: 0;
}
.about__employees__item {
  margin: 15px;
}
.about__employees__all {
  position: relative;
  font-family: 'Roboto-Regular', Arial, sans-serif;
  font-size: 16px;
  margin: 15px;
  border-bottom: 1px dotted #ff0000;
  align-self: flex-end;
}
/*
.about__employees__all:before {
  content: "⇾ "; 

}*/
.mark {
  position: absolute;
  left: -25px;
  top: 0;
  font-size: 25px;
}
.advantages {
  width: 100%;

}
.advantages__h2 {
  margin: 0;
  padding: 55px 0;
  font-family: 'Raleway-ExtraBold', Arial, sans-serif;
  font-size: 36px;
  text-align: center;
  color: #e6007e;
}
.advantages__wrapper {
  display: flex;
  justify-content: center;
  background-color: #f4f3f3;
  width: 100%;
}

.advantages__info {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h4 {
  font-family: 'Raleway-ExtraBold', Arial, sans-serif;
  font-size: 24px;
  color: #e6007e;
  line-height: 50px;
}
.advantages__excellence {
  width: 32%;
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 16px;
  line-height: 31px;
}

.advantages__items {
  padding: 0;
}
.advantages__item {
  list-style-type: none; /*Убираем маркеры у списка*/
  margin: 30px 0 30px 10px;
}
.advantages__item:before {
  content: "\00271A  "; /*Добавляем в качестве маркера символ плюс*/
  font-size: 18px;
  color: #e6007e;
}
.footer__list__item a {
  color: #ffffff;
}
.advantages__noname {
  width: 32%;
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 16px;
  line-height: 31px;
  padding-top: 85px;
}
.advantages__important {
  width: 32%;
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 16px;
  line-height: 31px;
}
.advantages__important__item {
  list-style-type: none; /*Убираем маркеры у списка*/
  margin: 30px 0 30px 10px;
}
.advantages__important__item:before {
  content: "\002731  "; /*Добавляем в качестве маркера символ снежинка*/
  font-size: 26px;
  color: #e6007e;
}
.planmeca-bottom {
  min-height: 25px;
  width: 100%;
  background-image: url("../img/planmeca-bottom-line.png");
  background-size: cover;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #347aa5;
}
.footer {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-family: 'OpenSans-SemiBold', Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;

}
.footer__list__items {
  padding: 0;
}
.footer__list__item {
  list-style-type: none; /*Убираем маркеры у списка*/
}
.footer__list__item:before {
  content: "\002756   "; /*Добавляем в качестве маркера символ снежинка*/
  font-size: 14px; /*U+2756  */
  color: #ffffff;

  text-align: center;
}
.footer__info {
  text-align: right;
  color: #ffffff;
  padding: 10px 0;
}
.footer__info a {
  color: #ffffff;
  text-decoration: underline;
}
.social-links {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.social-links a {
	width: 2rem;
  height: 2rem;
  margin: 3px;
	line-height: 2rem;
	display: inline-block;
	color: #039BAB;
	border: solid 1px #039BAB;
	border-radius: 50%;
  text-align: center;
	font-size: 19px;
  transition: 0.2s;
  background-color: #ffffff;
}
.social-links a:hover {
	background-color: #e6007e;
	color: #ffffff;
}
