@font-face {
  font-family: 'AlexandraZeferinoOne';
  src: url('../fonts/AlexandraZeferinoOne.eot');
  src: url('../fonts/AlexandraZeferinoOne.eot?#iefix')format('embedded-opentype'),
  url('../fonts/AlexandraZeferinoOne.woff2') format('woff2'),
  url('../fonts/AlexandraZeferinoOne.woff') format('woff'),
  url('../fonts/AlexandraZeferinoOne.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: 'didact_gothicregular';
    src: url('../fonts/didactgothic-regular.woff2') format('woff2'),
         url('../fonts/didactgothic-regular.woff') format('woff'),
         url('../fonts/didactgothic-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
/*
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-style: bold;
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans-Heavy';
  src: url('../fonts/OpenSans-Heavy.ttf') format('truetype');
  font-style: bold;
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-style: bold;
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-style: bold;
  font-weight: italic;
}*/


.wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 16px;
}
.header {
  position: relative;
  background: #8f8d8d url('../img/bg-640.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
a, a:active, a:visited, a:focus {
	text-decoration: none;
	outline: none;
}
.main {
  position: relative;
  z-index: 2;
}
/*Навигация*/
.main-nav {
  position: relative;
  width: 96%;
  margin: 0 auto;
	min-height: 50px;
  text-transform: uppercase;
  font-family:  'didact_gothicregular', 'Open Sans', 'Helvetica', sans-serif;
  font-size: 30px;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: #ededed;
  cursor: pointer;
  border: none; 
}
.main-nav__toggle:hover {
  background-color: #e1e1e1; 
}
.main-nav__toggle:active {
  background-color: #e1e1e1;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; 
}


.main-nav--closed .main-nav__toggle:active::before {
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; 
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0; 
}
.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #000000; 
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none; 
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg); 
}
.main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
  background-color: #000000; 
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none; 
}
.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ededed;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e2e2e2; 
}
.main-nav__item a[href]:hover {
  background-color: #e1e1e1;
  border-top-color: #e1e1e1; 
}
.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #8d8d8d;
  border-top-color: #8d8d8d; 
}
.main-nav--closed .main-nav__item {
  display: none; 
}
.main-nav--closed .main-nav__item--active {
  display: block; 
}
.hidden {
  display: none;
}
.main-nav--closed .main-nav__item--active a {
  padding-right: 70px;
  padding-right: 70px;
}
.main-nav--closed .main-nav__user-items {
  display: none; 
}
.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 70px;
  z-index: 10;
  height: 80vh;
  /*background-color: #6a4d38; */
}
.main-nav--nojs .main-nav__toggle {
  display: none; 
}
.main-nav--nojs .main-nav__wrapper {
  position: static;
  height: auto; 
}
.main-nav--nojs .main-nav__item {
  display: block; 
}
.main-nav--nojs .main-nav__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}
.main-nav--nojs .main-nav__user-items {
  display: block;
  background-color: #8d8d8d; 
} 
.menu__current {
  text-decoration: underline;
}

/*Основной экран*/


.logo {
  text-align: center;
}
.slogan {  
  padding: 11% 0 0 10%;
  font-family:  'AlexandraZeferinoOne', serif;
  font-size: 65px;
  color: #ffffff;
}
/*Блок Why*/
.why {
  padding: 10% 0;
  text-align: center;
}
.title {
	font-weight: 300;
  font-size: 26px;
  line-height: 26px;
}
.bold {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}
.text {
  font-size: 16px;
  line-height: 19px;
  color: #595959;
}
.btn {
	display: block;
	width: 80%;
	max-width: 200px;
	margin: 1rem auto;
	border: 1px solid #595959;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #000000;
	border-radius: 100px;
  transition: 0.2s;
  text-align: center;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
}
.btn:hover {
	text-decoration: none;
	background-color: #FF9D00;
  color: #ffffff;
  border-color: #ffffff;
}

/*Карта-навигация*/
.map-navigation {
  display: flex;
  flex-wrap: wrap;
  background: #000000 url('../img/bg-map-navigation.jpg') no-repeat center center;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  color: #ffffff;
  justify-content: center;
}
.map-navigation__item {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 6%;
}
.map-navigation__item a {
  text-align: right;
}
.icon {
  width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
  display: inline-block;
  text-align: center;
	color: #ffffff;
	border: solid 1px #ffffff;
  border-radius: 50%;
  background-color: #e4b947;
	margin-right: 2rem;
	font-size: 2rem;
	transition: 0.2s;
}
.icon:hover {
	background-color: #ffffff;
	color: #FF9D00;
}
/*Callback*/
.callback {
  padding: 6% 3%;
  text-align: center;
  justify-content: center;
  text-align: center;
  border-top: 3px dashed black;
  border-bottom: 3px dashed black;
}
.callback__title {
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
}
.callback form {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  text-align: center;
  margin-top: auto;
  padding-top: 3%;
}
.callback input {
  display: inline-block ;
  width: auto;
}
input[type="text"] {
  margin: 0;
  text-align: center;
  font-size: 26px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.callback .btn {
  min-width: 200px;
} 
/*news*/
.news {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff url('../img/bg-team-trainers.jpg') no-repeat center center;
  background-size: cover; 
  color: #000000;
  justify-content: center;
  padding: 6% 6%;
}
.news__title {
  width: 85%;
  padding: 5%;
  text-align: center;
}
.new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}
.new__foto {
  align-self: center;
  width: 300px;
  overflow: hidden;
  margin: 3%;

}
.new__foto img {

   max-width: 639px;
}
.new__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new__description h2 {
  text-align: center;
}
.new__description p {
  padding-top: 20px;
}
.new__data {
  color: grey;
  text-align: left;
}
.new__data i {
  color: #FF9D00;
}
.even .new__data {

}




/*Тренера*/
.trainers {
  display: flex;
  flex-wrap: wrap;
  background: #000000 url('../img/bg-trainers.jpg') no-repeat center center;
  background-size: cover;
  color: #ffffff;
  justify-content: center;
  padding: 6% 6%;
  text-align: center;
}


.trainers__title {
  width: 90%;
  padding: 5%;
}
.trainer {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;
  padding: 5%;

}
.trainer a{
  text-align: center;

}
.trainer img {
  width: 300px;
}

.trainer .social-links a {
  width: 3rem;
	height: 3rem;
	line-height: 3rem;
}

/*Отзывы*/
.reviews {

  background: #ffffff url('../img/bg-reviews.jpg') no-repeat center center;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  color: #000000;
  justify-content: center;
  padding: 6% 6%;
  text-align: center;
}
.reviews__title {
  width: 90%;
  padding: 5%;
}
.reviews__learner {
  width: 90%;
}
.reviews__learner a {
    display: block;
}
.reviews__learner img{
  
  border-radius: 50%;
}

.reviews__learners {
  margin: 0;
  padding: 0;
  list-style: none; 
}

/*Слайдер*/
.slider {
  display: flex;
  justify-content: center;
  border-top: 2px dotted #727272;
  margin: 2%;
}
/*Первичные стили:
С ними работает слайд шоу
*/
 
#slides {
  width: 80%;
  position: relative;
  min-height: 200px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
  
.reviews__slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  font-size: 16px;
  padding: 10%;
  box-sizing: border-box;
  color: #727272;
}
  
.showing {
  opacity: 1;
  z-index: 2;
}
.slide__name{
  display: block;
  margin-top: 8%;
}
/* Второстепенные стили:
Внешний вид*/
button {
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;

}
button:active, button:visited, button:focus  {
  border: none;
  box-shadow: none;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.slider__icon {
  width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
  display: inline-block;
  text-align: center;
	color: #727272;
	border: solid 1px #727272;
  border-radius: 50%;
	font-size: 2rem;
	transition: 0.2s;
}
.slider__icon:hover {
	background-color: #FF9D00;
	color: #ffffff;
}
/*Видеогалерея*/
.videos {
  background: #000000 url('../img/bg-videos.jpg') no-repeat center center;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  color: #ffffff;
  justify-content: center;
  padding: 6% 6%;
  text-align: center;
}
.videos__text {
  color: #a6ac96;
}
.videos__btn {

	max-width: 220px;
	margin: 1rem auto;
	border: 2px solid #595959;
	color: #ffffff;

  background-color: #000000;
}

.video__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; 
}
.video__item {
  margin: 3%;
}
.video__item img {
  width: 300px;
  /*увеличении при наведении*/
  opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.video__item img:hover {
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.video__item a {
  display: block;
  text-decoration: none;
}

/*Форма обратной связи*/
.form {
  background: #ffffff url('../img/bg-form.jpg') no-repeat center center;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  color: #000000;
  justify-content: center;
  padding: 6% 6%;
  text-align: center;
}

.form__wrapper {
  margin: 0 auto;
}

#messegeResult p{
  color: #000000;
  font-size: 16px;
  text-align: center;
}
form{
  width: 300px;
  margin: 0 auto;
}
#form input{
  height: 50px;
  border-radius: 25px;
  border: none;
  border-bottom: 5px solid #ebeae6;
  margin: 1%;
  padding: 0 15%;
  text-align: left;
  font: 400 14px 'PT Sans', sans-serif;
  display: inline-block ;
  width: auto;
}
#button{
  cursor: pointer;
}
input,
textarea,
#button:active, 
#button:focus {
  outline: none;
}
#button::-moz-focus-inner {
  border: 0;
}
textarea:-moz-placeholder { 
  padding: 0 15%;
  font: 400 14px 'PT Sans', sans-serif;

}
textarea::-webkit-input-placeholder { 
  padding: 0 17%;
  font: 400 14px 'PT Sans', sans-serif;
}




/*Футер*/

.footer {
	background-color: #2a2a2a;
	color: #ffffff;
	text-align: center;
	padding: 0;
}
.footer__name {
  padding: 3%;
}
.footer strong {
	font-weight: 300;
	font-size: 1.4rem;
}
.footer__social {
  padding: 3%;  
}
.social-links {
	margin: 1rem;
}
.social-links a {
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	display: inline-block;
	color: #ffffff;
	border: solid 1px #ffffff;
	border-radius: 50%;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 2rem;
	transition: 0.2s;
}
.social-links a:hover {
	background-color: #ffffff;
	color: #FF9D00;
}

.footer-nav .main-nav__items {
  margin-top: 3%;
  margin-bottom: 3%;
}
.footer-nav .main-nav__item a {
  background-color: transparent;
  color: #ffffff;
  text-transform: none;
}
.footer-nav .main-nav__item a:hover {

  color: #000000;
}
.footer__form {
  padding: 3%;  
}
.offer-btn {
	display: block;
	width: 80%;
	max-width: 200px;
	margin: 1rem auto;
	border: 1px solid #ffffff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #ffffff;
	border-radius: 100px;
	transition: 0.2s;
}
.offer-btn:hover {
	text-decoration: none;
	background-color: #ffffff;
	color: #FF9D00;
}





/*Страница ABOUT О нас */
h2, p, span {
  margin: 0;
  line-height: 22px;
}
.about__header {
  position: relative;
  background: #080425 url('../img/bg-about.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.about__text {
  display: flex;
  flex-direction: column;
  font-family:  'AlexandraZeferinoOne', serif;
  font-size: 45px;
  color: #ffffff;
  text-align: center;
max-height: 100vh;
}
.about__text p{

  font-family:  'GothicB', serif;
  font-size: 38px;
  color: #ffffff;
  text-align: center;
}
.about__text span {
  display: block;
  margin-top: 2%;

}

.aboutus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  background: #ffffff url('../img/bg-aboutus.jpg') center center no-repeat;
  background-size: cover;

}
.logo-black {
  margin-top: 2%; 
  text-align: center;
  width: 100%;
}
.aboutus__text {
  width: 80%;

}
.founders {

  background: #000000 url('../img/bg-founders.jpg') no-repeat;

  background-size: cover;

}
.whywe {
  background: #ffffff url('../img/bg-whywe.jpg') no-repeat center center;
  background-size: cover;
  color: #000000;
}
.middle {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

/*TEAM Команда */
.team__header {
  position: relative;
  background: #000000 url('../img/bg-team.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  padding: 5%;
}
.trainers__title {
  text-align: center;
}
.team__trainers {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff url('../img/bg-team-trainers.jpg') no-repeat center center;
  background-size: cover; 
  color: #000000;
  justify-content: center;
  padding: 6% 6%;
}
.team__trainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}
.team__trainer__text h2 {
  text-align: center;
}
.team__trainer img {
  width: 300px;
}
.team__trainer .social-links {
  text-align: center;
}
.team__trainer .social-links a {
  width: 3rem;
	height: 3rem;
	line-height: 3rem;
	color: #000000;
	border: solid 1px #000000;
}
.team__trainer .social-links a:hover {
	background-color: #FF9D00;
  color: #ffffff;
  border-color: #ffffff;
}

/*EVENTS*/
.events__header {
  position: relative;
  background: #000000 url('../img/bg-events.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.events {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff url('../img/bg-event.jpg') no-repeat center center;
  background-size: cover; 
  color: #000000;
  justify-content: center;
  padding: 6% 6%;
}
.events>h2 {
  text-transform: uppercase;
}
.events__soon {
  color: red;
}
.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5%;
}
.event__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event__description h2 {
  text-align: center;
}
.event__description p {
  padding-top: 20px;
}
.event__foto {
  width: 100%;
  text-align: center;
}
.event__foto img {
  width: 300px;
  /*увеличении при наведении*/
  opacity: 1;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
}
.event__foto img:hover {
  -webkit-transform: scale(1.2,1.2);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1.2,1.2);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
}
.event__data {
  padding-top: 51px;
  text-align: center;
  width: 104px;
  height: 118px;
  background: url('../img/events/event-data.png') no-repeat center center;
  order: -1;
}
.event__month {
  display: block;
  color: #ffffff;
  font-size: 20px;
}
.event__day {
  display: block;
  font-size: 46px;
  font-weight: 900;
  line-height: 51px;
}
.event__anons {
  text-align: center;
}


/*schedule*/
.schedule__header {
  position: relative;
  background: #000000 url('../img/bg-schedule.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.schedule__days {
  display: flex;
  flex-direction: column;
  background: #000000 url('../img/bg-schedule-days.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
}
.schedule__place {
  padding: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.schedule__place .title {
  width: 100%;
}
.schedule__day {
  width: 100%;
  text-align: left;
}
.schedule__day__name {
  text-align: center;
}
/*NEWS*/
.news__header {
  position: relative;
  background: #000000 url('../img/bg-news.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/*CONTACTS*/
.contacts__header {
  position: relative;
  background: #080425 url('../img/bg-contacts.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.contacts {
  display: flex;
  flex-wrap: wrap;
}
.map {
  width: 100%;
  height: 550px;
  border: 1px solid black;

}
.contacts__text {
  padding: 5%;
  width: 85%;
}
.contacts__text h2 {
  text-align: center;
}
.contacts__text__social {
  display: flex;
  flex-wrap: wrap;
  line-height: 2rem;
  justify-content: center;
}
.left {

  display: flex;
  width: 35%;
}
.contacts__text__adress {
  width: 100%;
}
/*GALLERY*/
.gallery__header {
  position: relative;
  background: #000000 url('../img/bg-gallery.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.about__text .smaller {
  font-size: 22px;
}
.gallery__title {
  padding: 5%;
  text-align: center;
  font-size: 35px;
  
}
.galery__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
} 
.gallery-item {
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  width: 220px;
  height: 150px;
  margin: 5px;
}
 .gallery-item img {
  flex-shrink: 2;
  min-height: 150px;
  max-height: 250px;
}

#filter {
    display: block;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    position: relative;
    text-align:center;
}

#filter a{
     position: relative;
      box-sizing: border-box;
      display: inline-block;

      overflow: hidden;
      padding: 8px 20px;
      margin: 0px 3px 6px;
      text-align: center;
      border: 2px solid #fff;
      text-decoration: none;
      color: #000000;
      white-space: nowrap;
      z-index: 0;
}
 #filter a i {
      padding-right: 8px;
} 
.hb-border-bottom-br3 a{
      position: relative;
      transition-duration: 0.3s;
      overflow: visible;
      box-sizing: border-box;
      border: none;
      padding: 10px 22px;
} 
 

.hb-border-bottom-br3 a::after {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      border: 2px solid #000000;
      z-index: 2;
      margin: 0px;
      left: 0px;
      bottom: 0px;
      border-top-width: 2px;
      transition: border-top-width 0.1s 0.2s, height 0.2s 0.1s, width 0.2s 0s, margin 0.2s 0s;
} 
 

.hb-border-bottom-br3 a:hover::after {
      width: 60%;
      height: 0px;
      border-width: 0px 2px 2px;
      margin: 0px 20%;
      transition: border-top-width 0.1s 0s, height 0.2s 0.1s, width 0.2s 0.2s, margin 0.2s 0.2s;
      background-color: transparent;
} 
#filter a.active {
  background-color: #d4d4d4;
}









 
@media screen and (min-width: 640px) {
  .header {
    background: #8f8d8d url('../img/bg-1200.jpg') center center no-repeat;
  }
  .main-nav {
    font-size: 18px;
  }
  .slogan {
    font-size: 90px;
  }
  .why {
    padding: 3% 0;
  }
  .map-navigation {
    padding: 4% 4%;
  }
  .map-navigation__item {
    width: 30%;
  }
  .map-navigation__item a {
  text-align: left;
  }
  .callback {
    display: flex;
    padding: 0% 2%;
    text-align: left;
  }

  .callback a {
    text-align: center;
  }
  .callback__btn {
    margin: 2rem auto;
  }
/*news*/
.news {
  padding: 1%;
}
.news__title {
  font-size: 36px;
  line-height: 36px;
  padding: 2%;
}
.new {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2%;
  width: 96%;
}
.new__name {
  width: 100%;
  text-align: center;
}
.new__foto {
  text-align: center;
  width: 41%;
  margin: 0;
}
.new__description {
  padding: 2%;
  width: 49%;
}
.new__foto img {
   max-width: 1200px;
}

/*trainers*/
  .trainers {
    padding: 0;
  }
  .trainer {
    padding: 0;
    width: 45%;
  }
  .trainers__title {
    font-size: 36px;
    line-height: 36px;
  }
  .trainer img {
    width: 300px;
  }
  .trainer .social-links a {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
  }
  .reviews {
    padding: 0;
  }
  .reviews__title {
    font-size: 36px;
    line-height: 36px;
  }
  .reviews__learners {
    display: flex;
  }
  .reviews__learner {
    width: 30%;
  }
  .reviews__slide {
    padding: 4%;
  }

  .slide__name{
    margin-top: 2%;
  }
  .videos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3% 3%;
  }
  .videos__title {
    width: 100%;
    font-size: 36px;
    line-height: 36px;
  }
  .video__items {
    flex-direction: row;
    justify-content: center;
  }
  .video__item {
  margin: 1%;
}
  .form {
    padding: 2% 2%;
  }
  .form__title {
    padding: 2% 0;
  }
  .form__wrapper {
    width: 100%;
  }




  .footer {
    display: flex;
  }
  .footer strong {

		display: inline-block;
	}
  .footer__name {
    width: 25%;
  }
  .footer__social {
    width: 35%;  
  }
  .social-links a {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1.5rem;
  }
  .footer-nav {
    padding: 3%;
    width: 15%
  }
 /* .footer__form {
    width: 25%;  
  }*/
  .footer-nav .main-nav__item a {
    padding: 0;
    border: none;
    text-align: left;
  }
  .footer-nav .main-nav__item a:hover {
    background-color: transparent;
    color: #ffffff;
    text-decoration: underline;
  }
  .footer__form strong {
    font-size: 1rem;
  }
  /*ABOUT*/
  
  .why-we {
    display: flex;
    justify-content: center;
  }
  .why-we__item {
    width: 28%;
    padding: 2%;
  }
  /*team*/
  .team__trainers {
    padding: 0;
  }

  .team__trainer {
    flex-direction: row;
    padding: 2%;
    width: 96%;
  }
  .team__trainer__foto {
    text-align: center;
    width: 50%;
  }
  .team__trainer__text {
    padding: 2%;
    width: 46%;
  }
  .team__trainer img {
    width: 300px;
  }
  .team__trainer .social-links {
    text-align: left;
  }
  .team__trainer .social-links a {
    text-align: center;
  }
  .second {
    order: 2;
  }
  /*events*/
  .events {
    padding: 0;
  }
  .events h2 {
    padding: 3%;

  }
  .event {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    width: 96%;
  }

  .event__foto {
    text-align: center;
    width: 50%;
  }
  .event__description {
    padding: 2%;
    width: 100%;
  }
  .event img {
    width: 300px;
  }
  .event__data {
    width: 50%;
  }

  /*schedule*/
  .schedule__header .about__text {
    padding-top: 9%; 
    font-size: 3rem;
  }
  

  .schedule__place {
    padding: 3%;
  }
  .schedule__day {
    padding: 3%;
    width: 26%;

  }
  /*Contacts*/
  .left {
    width: 19%;
  }
  /*Gallery*/
  #filter {
    margin: 1% auto;
  }

}

@media screen and (min-width: 1200px) {
  .header {
    height: 100vh;
    background: #8f8d8d url('../img/bg.jpg') center center no-repeat;
    background-size: cover;
  }
  .circle {
    display: block;
    width: 10px;
	  height: 10px;
	  background: #ffffff;
	  -moz-border-radius: 50px;
	  -webkit-border-radius: 50px;
    border-radius: 50%;
    margin: 2%;
  }
  .main-nav__toggle {
    display: none; 
  }
  .main-nav--closed .main-nav__item {
    display: flex; 
  }
  .main-nav {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
  }
  .main-nav__items {
    display: flex;
    padding: 0 4%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
   .main-nav__item {
     display: flex;
   }
  .main-nav__item:first-child {
    display: none;
  }
  .main-nav--closed .main-nav__item--active a {
    text-align: center;
  }
  .main-nav__item a {
    font-size: 23px;
    line-height: 57px;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    border-top: none;
    border-bottom: none; 
  }
  .main-nav__item a[href]:hover {
    background-color: transparent;
    border-top-color: transparent; 
    text-decoration: underline;
  }
  .main-nav__item a[href]:active {
    color: #000000;
    background-color: #afafaf;
    border-top-color: #afafaf; 
  }
  .slogan {
    font-size: 160px;
    padding: 4% 0 0 5%;
    line-height: 1;
  }

  .map-navigation__item {
    width: 30%;
    padding: 1%;
  }
  .callback__title {
    width: 60%;
  }
  .callback form {
    flex-wrap: nowrap;
    padding: 0;
  }
  /*news*/

  .news__title {
    font-size: 60px;
    line-height: 72px;
  }
  .new {
    padding: 1%;
  }
  .new__foto {
    text-align: center;
    width: 38%;
  }
  .new__description {
    padding-top: 0;
    width: 44%;
  }
  .new img {
    width: 450px;
  }
  /*trainers*/
  .trainers {
    padding: 0;
  }
  .trainer {
    width: 40%;

  }
  .trainers__title {
    padding: 3%;
    font-size: 60px;
    line-height: 72px;
  }
  .trainer img {
    width: 450px;
  }
  .reviews__title {
    padding: 3%;
    font-size: 60px;
    line-height: 72px;
  }
  





  .footer__name,
  .footer__social, 
  .footer-nav,
  .footer__form {
    padding: 1%;
    font-size: 15px;
  }
  .footer-nav .main-nav__items {
    display: block;
  }
  .footer-nav .main-nav__item:first-child {
    display: block; 
  }
  .footer-nav .main-nav__item a {
    font-size: 18px;
    line-height: 21px;
  }
  .footer strong {
    display: inline-block;
    font-size: 18px;
  }
  /*ABOUT*/
  .logo-black {
    order: 2;
    width: 30%;
  }
  .about__text {
    padding-top: 9%; 
  }
  .aboutus__text {
    width: 63%;
    padding: 3%;
  }
  /*TEAM*/
  .team__trainer__foto {
    text-align: center;
    width: 40%;
  }
  .team__trainer__text {
    padding: 2%;
    width: 56%;
  }
  .team__trainer img {
    width: 450px;
  }
  /*event*/
  .event__foto {
    text-align: center;
    width: 38%;
  }
  .event__data {
    width: 10%;
    order: 0;
    margin-bottom: auto;
  }
  .event__description {
    padding: 2%;
    width: 44%;
  }
  .event img {
    width: 450px;
  }
  .schedule__day {
    padding: 2%;
    width: 29%;
  }
  .map {
    order: -1;
  width: 50%;
  height: 550px;
  border: 1px solid black;
  }
  .contacts__text {
    padding: 3%;
    width: 40%;
  }


}





